<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="Основные">
		<setting id="use_engine" type="enum" label="Использовать " values="Elementum|TorrServe" default="0"/>
		<setting type="ipaddress" id="ts-host" label="IP" visible="eq(-1,1)" default="127.0.0.1"/>
		<setting type="number" id="ts-port" label="Порт" visible="eq(-2,1)" default="8090"/>
		<setting type="bool" id="auto_play" label="Автовоспроизведение" default="false"/>
			<setting type="text" label="Запускается торрент с наилучшим качеством.[CR]Желательно настроить фильтр по Качеству" enable="false" visible="eq(-1,true)" />
	</category>
	<category label="Фильтр">
		<setting type="bool" id="filter_quality" label="Качество" default="false" />
			<setting type="bool" id="filter_quality_0" label="BDRip [B]720p[/B]" default="false" subsetting="true" visible="eq(-1,true)"/>
			<setting type="bool" id="filter_quality_1" label="WEB-DL [B]1080p[/B]" default="false" subsetting="true" visible="eq(-2,true)"/>
			<setting type="bool" id="filter_quality_2" label="BDRip [B]1080p[/B]" default="false" subsetting="true" visible="eq(-3,true)"/>
			<setting type="bool" id="filter_quality_3" label="BDRip-HEVC [B]1080p[/B]" default="false" subsetting="true" visible="eq(-4,true)"/>
			<setting type="bool" id="filter_quality_4" label="BDRemux [B]1080p[/B]" default="false" subsetting="true" visible="eq(-5,true)"/>
			<setting type="bool" id="filter_quality_5" label="WEB-DL [B]2160p[/B] SDR" default="false" subsetting="true" visible="eq(-6,true)"/>
			<setting type="bool" id="filter_quality_6" label="WEB-DL [B]2160p[/B] HDR" default="false" subsetting="true" visible="eq(-7,true)"/>
			<setting type="bool" id="filter_quality_7" label="BDRip-HEVC [B]2160p[/B] SDR" default="false" subsetting="true" visible="eq(-8,true)"/>
			<setting type="bool" id="filter_quality_8" label="BDRip-HEVC [B]2160p[/B] HDR" default="false" subsetting="true" visible="eq(-9,true)"/>
			<setting type="bool" id="filter_quality_9" label="[B]4K[/B] BDRemux SDR" default="false" subsetting="true" visible="eq(-10,true)"/>
			<setting type="bool" id="filter_quality_10" label="[B]4K[/B] BDRemux HDR" default="false" subsetting="true" visible="eq(-11,true)"/>
	</category>
</settings>
